"""
WSGI config for admin_ddjj project.

It exposes the WSGI callable as a module-level variable named ``application``.

For more information on this file, see
https://docs.djangoproject.com/en/1.7/howto/deployment/wsgi/
"""

import os
import sys
import site
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "admin_ddjj.settings")


# Add the site-packages of the chosen virtualenv to work with
site.addsitedir('/PATH_TO_VENV/venv_admin_ddjj2/lib/python2.7/site-packages')

# Add the app's directory to the PYTHONPATH
sys.path.append('/PATH_TO_PROJECT/admin_ddjj2_project/admin_ddjj')
sys.path.append('/PATH_TO_PROJECT/admin_ddjj2_project/admin_ddjj/admin_ddjj')

activate_env=os.path.expanduser("/PATH_TO_VENV/venv_admin_ddjj2/bin/activate_this.py")
execfile(activate_env, dict(__file__=activate_env))

from django.core.wsgi import get_wsgi_application
application = get_wsgi_application()
